
body{
    font-family: Arial, sans-serif;
    background-color: #555555;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    color: #666;
}

h2 {
    font-size: 24px;
    color: #333;
    border-bottom: 2px solid #00aaff;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

ul {
    list-style: square;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

.contact-info ul li a {
    color: #00aaff;
    text-decoration: none;
}

.contact-info ul li a:hover {
    text-decoration: underline;
}

.experience-item {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #00aaff;
    color: #fff;
    margin-top: 30px;
}

footer p {
    margin: 0;
}
